* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body .header{
    background-color: #222831;
    color: #EEEEEE;
}

body .footer{
    background-color: #222831;
    color: #EEEEEE;
    height: 60px;
}



.scroll-right {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: #3A3845;
    color: white;
    border: 1px solid whitesmoke;
}

.scroll-right p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    /* Apply animation to this element */
    -moz-animation: scroll-right 15s linear infinite;
    -webkit-animation: scroll-right 15s linear infinite;
    animation: scroll-right 15s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-right {
    0% {
        -moz-transform: translateX(-100%);
    }

    100% {
        -moz-transform: translateX(100%);
    }
}

@-webkit-keyframes scroll-right {
    0% {
        -webkit-transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(100%);
    }
}

@keyframes scroll-right {
    0% {
        -moz-transform: translateX(-100%);
        /* Browser bug fix */
        -webkit-transform: translateX(-100%);
        /* Browser bug fix */
        transform: translateX(-100%);
    }

    100% {
        -moz-transform: translateX(100%);
        /* Browser bug fix */
        -webkit-transform: translateX(100%);
        /* Browser bug fix */
        transform: translateX(100%);
    }
}


.header {
    background-color: #f1f1f1;
    clear: both;     
    z-index: 1;
    height: 12%;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;

}



/* Style the side navigation */
.sidenav {
    top: 1%;
    z-index:1 ;
    clear: both;
    width: 205px;
    padding-top: 30px;
    /* margin-top: 100px; */
    height: 100%;
    position: fixed;
    top: 9%;
    left: 0;
    clear: right;
    background-color: #222831;
    overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
    margin: 1px;
    color: white;
    background-color: #00ADB5;
    border: 0.5px solid #C8F2EF;

    padding: 16px;
    width: 201px;
    text-decoration: none;
    display: block;
}


#sidenavup {
    position: fixed;
    top: 10.5%;
    left: 0;
}

#sidenavdown {
    position: fixed;
    bottom: 8.5%;
    left: 0;
}


/* Change color on hover */
.sidenav a:hover {
    border: 2px solid white;
    background-color: #364F6B;
    color: white;
}

/* Style the content */
.content {
    height: 70%;
    overflow: auto;
    margin-top: 2.5%;
    padding-top: 6%;
    margin-left: 200px;
    padding-left: 20px;
    padding-bottom: 5%;
    color: #ddd;
    background-image: url('/pictures/logoearthpic.jpg');
    opacity: 0.9;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content p {
    opacity: 1;
}

.footer div {
    padding: 16px;
    margin: 2px;
    color: #111;
    border: 1px solid #111;
    padding: 16px;
    /* height: 50px; */
    width: 200px;
    text-decoration: none;
    display: block;
}

.footer div:hover {
    background-color: #333;
    color: #f1f1f1;
}


.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity .8s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.footer div:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.emaildetails {
    background-color: #FEECE9;
    position: fixed;
    bottom: 0;
    left: 0;
}

.creators {
    background-color: #FEECE9;
    position: fixed;
    bottom: 0;
    right: 0;
}

body .footer .emaildetails:hover{
    background-color: #105652;
    color: #FAEEE0;
}

body .footer .creators:hover{
    background-color: #105652;    
    color: #FAEEE0;
}

.footer {
    /* background-color: #f1f1f1; */
    clear: both;
    z-index: 2;
    margin-top: 0%;
    
    height:10%;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
}