* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body .header {
    background-color: #222831;
    color: #EEEEEE;
}

body .footer {
    background-color: #222831;
    color: #EEEEEE;
    height: 60px;
}

.header {
    background-color: #f1f1f1;
    clear: both;
    z-index: 1;
    height: 12%;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;

}

/* Style the content */
.content {
    height: 70%;
    overflow: auto;
    text-align: left;
    /* top : 13% ; */
    /* margin: 20px; */
    padding: 10px;
    padding-top: 7%;
    padding-bottom: 50px;
    color: black;
    background-image: url('/pictures/ajfsfa.webp');
    background-size: cover;
    background-repeat: no-repeat;

}

.content h2 {
    text-align: center;
    text-decoration: solid;
    color: #f1f1f1;
    border: 1px dashed black;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    margin-bottom: 10px;
    background-image: url('/pictures/gipy_3.webp');
}

.content #imageexplanation {
    text-align: justify;
}

.footer div {
    padding: 16px;
    margin: 2px;
    color: #111;
    border: 1px solid #111;
    padding: 16px;
    width: 200px;
    text-decoration: none;
    display: block;
}

.footer div:hover {
    background-color: #333;
    color: #f1f1f1;
}



.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #180A0A;
    color: #fff;
    text-align: center;
    width: auto;
    border-radius: 7px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity .8s;
}

.tooltiptext p {
    margin: 10px;
}

.tooltiptext p:hover {
    background-color: whitesmoke;
    color: #180A0A;
    margin: 10px;
    padding: 1px;
    border-radius: 8px;
}


.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.footer div:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.emaildetails {
    background-color: #FEECE9;
    position: fixed;
    bottom: 0;
    left: 0;
}

.creators {
    background-color: #FEECE9;
    position: fixed;
    bottom: 0;
    right: 0;
}

body .footer .emaildetails:hover {
    background-color: #105652;
    color: #FAEEE0;
}

body .footer .creators:hover {
    background-color: #105652;
    color: #FAEEE0;
}

.footer {
    /* background-color: #f1f1f1; */
    clear: both;
    z-index: 2;
    margin-top: 100px;

    height: 10%;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

#apodimage {
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    opacity: 0.1;
    background-repeat: repeat;
}

#pipi {
    color: white;
}

#pipi .intro_name {
    font-size: larger;
    font-weight: bold;
    color: #CEE5D0;

}

#pipi #imageurl {
    /* z-index: 10 ; */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    /* margin : 5px ; */
    border: 2px solid whitesmoke;

}